# Dependencies
/node_modules
/dist
/build
/out

# Log files
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Local development files
.DS_Store
Thumbs.db
/coverage
*.log
.vscode/

# Editor/OS specific files (general good practice)
*~
\#*
.cache

node_modules/
.env
dist/
build/
